
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  background-image: linear-gradient(
    79deg,
    #646432,
    #c1baba,
    48%,
    rgba(107, 93, 93, 0.4) 
   );

}

.register-form{
  border: 5px solid black;
}


@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 3px solid black;
    border-radius:10px;
    margin: 0.5 rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  border: 1px solid black;
}

button {
  border: none;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.btnRegister {
  padding-bottom: 10px;
  margin: 1.5px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  padding-bottom: 5px;
  background-image: linear-gradient(
    79deg,
    #ebebb8,
    #a1a1a1,
    48%,
    rgba(66, 8, 8, 0.4) 
   );
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  
}

.nav-links a:hover {
  background-color: #eae7e7;
}

.add-customer{
  background-color: rgb(233, 231, 231);
  margin-top: 10px;
}

.p {
  font-size: 20px;
}


